<!DOCTYPE html>
<html>
    <head>
        <title>G-PeTradise</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_importmap_tags %>
    </head>

    <body> 
        <nav class="navbar navbar-light">
            <ul>
                <li class="login-required" title="Please Login first.">
                    <a class="navbar-brand text-light" id="mypetLink" href="/render/users/pets">
                        <img src="/images/mypet.png" width="20" height="20" class="d-inline-block align-top">
                        &nbsp; My Pet
                    </a> 
                </li>
                <li class="login-required" title="Please Login first.">
                    <a class="navbar-brand text-light" id="marketLink" href="/render/market">
                        <img src="/images/market.png" width="20" height="20" class="d-inline-block align-top">
                        &nbsp; Market
                    </a> 
                </li>
                <li>
                    <a class="navbar-brand text-light" id="loginLink" href="#">
                        <img src="/images/user.png" width="20" height="20" class="d-inline-block align-top">
                        &nbsp; Login
                    </a> 
                </li>
                <li>
                    <a class="navbar-brand text-light" id="logoutLink" href="#">
                        <img src="/images/user.png" width="20" height="20" class="d-inline-block align-top">
                        &nbsp; Logout
                    </a> 
                </li>
                <li id="loggedInMessageContainer"></li> <!-- Placeholder for the greeting message -->
            </ul> 

            <span class="navbar-text">
                <img src="/images/shop.png" width="20" height="20" class="d-inline-block align-top">
            </span>
        </nav>
        <%= yield %>
        <header class="bgimg"> 
        </header>

        <div class="services title" >
            <div class="title-header">          
                <h2 class="title-name">Our Services</h2>
                <span>Services</span>
            </div>

            <div class="row">
                <div class="column">
                    <div class="card">
                    <h2>Pet Activities</h2>
                    <img src="/images/petbehavior.png" width=400 height=400>
                    <p>Welcome to our intuitive pet behavior analysis service, where understanding your pet's unique personality and needs is our top priority. Through our user-friendly platform, you can input and track your pet's behaviors, from eating habits and exercise routines to social interactions and overall mood. Our advanced algorithm analyzes this data, providing you with valuable insights into your pet's emotional well-being and suggesting personalized tips and activities to ensure their happiness and comfort. By harnessing the power of data and behavioral science, we empower you to nurture a stronger bond with your furry companion and create an environment that supports their mental and emotional health. Join us in unlocking the secrets to your pet's happiness and well-being, as we embark on a journey of understanding and enriching the lives of our beloved animal friends.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                    <h2>Pet Shop</h2>
                    <img src="/images/petshop.png" width=400 height=400>
                    <p> Welcome to our heartwarming pet shop, a sanctuary for all things furry, feathered, and scaled. Step into our welcoming space, alive with the cheerful chirps of birds, the gentle purring of kittens, and the friendly wagging of tails. Explore our diverse collection of lovable companions, from playful puppies to graceful felines and everything in between. Our knowledgeable staff stands ready to guide you through the joyous journey of finding the perfect addition to your family. Whether you seek a loyal canine companion, a sociable parrot, or a tranquil fish for your home, our carefully nurtured and well-socialized pets are sure to steal your heart. Embrace the warmth and companionship that only a furry friend can offer as you embark on a memorable experience at our beloved pet shop. </p>
                    </div>
                </div> 
            </div>
        </div>

        <%# <div class="main-content">
            
        </div> %>

        

        <div class="page-footer">
            <p>&copy; 2023 G-PeTradise. All rights reserved.</p>
        </div>

        <div id="loginModal" class="modal">
            <div class="modal-content">
                <h1>Log In</h1>
                <span class="close-btn">&times;</span>
                <form id="loginForm">
                    <input type="text" id="username" placeholder="Username">
                    <input type="password" id="password" placeholder="Password">
                    <input type="submit" value="submit">
                </form>

                <div class="splt"></div>
                <div class="login-footer">
					<a id="signup" href="#">Create an Account</a>
				</div>
            </div>
        </div>

        <div id="createAccountModal" class="modal" style="display: none;">
            <div class="modal-content">
                <h1>Create Account</h1>
                <span class="close-btn">&times;</span>
                <form id="createAccountForm">
                    <input type="text" id="newUsername" placeholder="Username" required>
                    <input type="password" id="newPassword" placeholder="Password" required>
                    <input type="email" id="newEmail" placeholder="Email" required>
                    <input type="submit" value="Create Account">
                </form>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                var BASE_URL = "<%= request.base_url %>";

                updateNavBar();
                setupEventListeners();
                
                $("#signup").click(function(e) {
                    e.preventDefault();
                    $("#loginModal").hide(); // Hide the login modal
                    $("#createAccountModal").show(); // Show the create account modal
                });

                // Close Create Account Modal
                $("#createAccountModal .close-btn").click(function() {
                    $("#createAccountModal").hide();
                });

                $('#createAccountForm').submit(function(e) {
                    e.preventDefault();

                    var data = {
                        username: $('#newUsername').val(),
                        password: $('#newPassword').val(),
                        email: $('#newEmail').val(),
                    };
                    
                    $.ajax({
                        type: 'POST',
                        url: BASE_URL + '/users', 
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ user: data }),
                        success: function(response) {
                            alert('User created successfully!');
                            console.log(response);

                            window.location.href = "/";
                            // Close the create account modal
                            $('#createAccountModal').hide();
                        },
                        error: function(response) {
                            alert('Error creating user. ' + response.responseText);
                            console.log(response);
                        }
                    });
                });

                function setupEventListeners() {
                    $("#loginLink").click(showLoginModal);
                    $(".close-btn").click(hideLoginModal);
                    $("#loginForm").submit(handleLoginFormSubmit);
                    $(document).on("click", "#logoutLink", handleLogout); // Use event delegation to ensure the event is caught even for dynamically added elements
                }

                function showLoginModal(e) {
                    e.preventDefault();
                    $("#loginModal").show();
                }

                function hideLoginModal() {
                    $("#loginModal").hide();
                    clearErrorMessages(); // Clear any error messages when closing modal
                }

                function handleLoginFormSubmit(e) {
                    e.preventDefault();

                    const username = $("#username").val();
                    const password = $("#password").val();

                    $.ajax({
                        type: "POST",
                        url: BASE_URL+"/login",
                        data: JSON.stringify({
                            username: username,
                            password: password
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: handleLoginSuccess,
                        error: handleLoginError
                    });
                }

                function handleLoginSuccess(response) {
                    console.log(response);
                    if (response.success) {
                        hideLoginModal();
                        localStorage.setItem('token', response.token);
                        localStorage.setItem('username', response.username);
                        localStorage.setItem('userid', response.userid);
                        updateNavBar();
                        window.location.href = '/render/users/pets';
                    } else {
                        displayErrorMessage("Login failed. Please try again.");
                    }
                }

                function handleLoginError() {
                    displayErrorMessage("An error occurred. Please try again later.");
                }

                function displayErrorMessage(message) {
                    clearErrorMessages();
                    $(".modal-content").append("<p class='error-msg'>" + message + "</p>");
                }

                function clearErrorMessages() {
                    $(".modal-content .error-msg").remove();
                }

                function handleLogout(e) {
                    e.preventDefault();
                    localStorage.removeItem("token");
                    localStorage.removeItem("username");
                    localStorage.removeItem("userid");
                    updateNavBar();
                    window.location.href = '/';
                }

                function updateNavBar() {
                    const username = localStorage.getItem('username');
                    const loggedInMessageContainer = $("#loggedInMessageContainer");
                
                    if (localStorage.getItem('token') && username) {
                        // User is logged in
                        $('#marketLink').attr('href', '/render/market');
                        $('#mypetLink').attr('href', '/render/users/pets');
                        $("#loginLink").hide();
                        $(".bgimg").hide();
                        $(".services").hide();
                        
                        // $(".main-content").show();
                        $("#logoutLink").show();
                        
                        // Insert greeting message
                        loggedInMessageContainer.html('<a id="loggedInMessage" href="#">Dear ' + username + ', explore and enjoy!</a>');
                        
                        // login required items
                        $(".login-required").attr("title", "")
                    } else {
                        // User is not logged in
                        $('#marketLink').attr('href', '/');
                        $('#mypetLink').attr('href', '/');
                        $("#loginLink").show();
                        $(".bgimg").show();
                        $(".services").show();
                        
                        // $(".main-content").hide();
                        $("#logoutLink").hide();
                       
                        loggedInMessageContainer.empty();

                        // login required items
                        $(".login-required").attr("title", "Please Login first.")
                    }
                }
            });

        </script>

    </body>
</html>


