<!DOCTYPE html>
<html>
  <head>
    <title>PetApp</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
    <ul>
        <li><a id="mypetLink" href="/render/users/pets">mypet</a></li>
        <li><a href="#" id="loginLink">Login</a></li>
        <li id="loggedInMessageContainer"></li> <!-- Placeholder for the greeting message -->
    </ul>
</nav>



    <div id="loginModal" class="modal">
      <div class="modal-content">
          <span class="close-btn">&times;</span>
          <form id="loginForm">
              <input type="text" id="username" placeholder="Username">
              <input type="password" id="password" placeholder="Password">
              <input type="submit" value="Log in">
          </form>
          
      </div>
    </div>


    <script>
        
      $(document).ready(function() {
          var BASE_URL = "<%= request.base_url %>";

          updateNavBar();
          setupEventListeners();

          

          

          function setupEventListeners() {
              $("#loginLink").click(showLoginModal);
              $(".close-btn").click(hideLoginModal);
              $("#loginForm").submit(handleLoginFormSubmit);
              $(document).on("click", "#logoutLink", handleLogout); // Use event delegation to ensure the event is caught even for dynamically added elements
          }

          function showLoginModal(e) {
              e.preventDefault();
              $("#loginModal").show();
          }

          function hideLoginModal() {
              $("#loginModal").hide();
              clearErrorMessages(); // Clear any error messages when closing modal
          }

          function handleLoginFormSubmit(e) {
              e.preventDefault();

              const username = $("#username").val();
              const password = $("#password").val();

              $.ajax({
                  type: "POST",
                  url: BASE_URL+"/login",
                  data: JSON.stringify({
                      username: username,
                      password: password
                  }),
                  contentType: "application/json",
                  dataType: "json",
                  success: handleLoginSuccess,
                  error: handleLoginError
              });
          }

          function handleLoginSuccess(response) {
              console.log(response);
              if (response.success) {
                  hideLoginModal();
                  localStorage.setItem('token', response.token);
                  localStorage.setItem('username', response.username);
                  localStorage.setItem('userid', response.userid);
                  updateNavBar();
              } else {
                  displayErrorMessage("Login failed. Please try again.");
              }
          }

          function handleLoginError() {
              displayErrorMessage("An error occurred. Please try again later.");
          }

          function displayErrorMessage(message) {
              clearErrorMessages();
              $(".modal-content").append("<p class='error-msg'>" + message + "</p>");
          }

          function clearErrorMessages() {
              $(".modal-content .error-msg").remove();
          }

          function handleLogout(e) {
              e.preventDefault();
              localStorage.removeItem("token");
              localStorage.removeItem("username");
              localStorage.removeItem("userid");
              updateNavBar();
          }

          function updateNavBar() {
    const username = localStorage.getItem('username');
    const loggedInMessageContainer = $("#loggedInMessageContainer");
    
    if (localStorage.getItem('token') && username) {
        // User is logged in
        $("#loginLink").hide();
        
        // Insert greeting message
        loggedInMessageContainer.html('<a id="loggedInMessage" href="#">Dear ' + username + ', you are logged in</a>');
        
        if (!$("#logoutLink").length) {
            $(".navbar ul").append('<li><a href="#" id="logoutLink">Logout</a></li>');
        }
    } else {
        // User is not logged in
        $("#loginLink").show();
        $("#logoutLink").remove();
        loggedInMessageContainer.empty();
    }
}



      });
    </script>




    

    <%= yield %>
  </body>
</html>


